<style>
  .trustpilot-score {
    text-align: left; /* Align the content to the left */
    margin-top: 10px; /* Add some space above the score */
  }

  .trustpilot-score p {
    display: inline; /* Display the text inline */
    vertical-align: middle; /* Align the content vertically */
    margin: 0; /* Remove any default margins */
    font-weight: bold; /* Increase font weight */
  }

  .trustpilot-score img {
    max-width: 100px; /* Set maximum width to 100px */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px; /* Add some space between the images */
    vertical-align: middle; /* Align the images vertically */
  }
</style>

<div class="trustpilot-score">
  <p>Excellent</p>
  <img src="Insert shopify image A link here">
  <img src="Insert shopify image B link here">
</div>
